/* Locale Switcher component */
.en {
    position: relative;
    left: calc(100% - 16px);
}

.it {
    position: relative;
    left: 0;
}

.slide-in {
    animation-name: slidein;
    animation-duration: 750ms;
}

.slide-out {
    animation-name: slideout;
    animation-duration: 750ms;
}

@keyframes slideout {
    from {
        left: 0%;
    }
    
    to {
        left: calc(100% - 16px);
    }
}

@keyframes slidein {
    from {
        left: calc(100% - 16px);
    }
    
    to {
        left: 0%;
    }
}

/* Loader styles ***************/
#loader {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #192bc2;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}